@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Wendy+One&display=swap');

* {
  font-family: 'Noto Sans TC', sans-serif;
  color: #221E1F;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
}
